/* fatto da Alessia*/
:root {
    --bs-primary: #27472F;
    --bs-secondary: #C4E1C2;
    --bs-navbar-color: #fff !important;
    --bs-link-color-rgb:248, 249, 250;
    --bs-link-hover-color-rgb: 189, 195, 199, 1;
    --bs-tooltip-color: #fff;
    --bs-tooltip-bg: #1A2421;
    --bs-tooltip-opacity: 75%;
}

body{
	font-family:arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%; 
    overflow-x: hidden; 
}

.footer{
    bottom: 0;
    width: 100%;
    margin-top: 6em;
    max-width: 100%; 
    overflow-x: hidden; 
}

.mod-custom{
    position: relative;
}

.hf{
    background-color: #27472F;
}

.logo{
    height: 200px;
    width: auto;
}

.navbar-toggler-icon{
    color:#fff;
}

.nav-one{
    border-left: 1.5px solid white;
}

.nav-link:hover{
    text-decoration: underline;
}

.nav-text{
    color:var(--bs-navbar-active-color);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    margin-bottom: 0;
}

.bar-link{
    text-indent: 50px;
}

h2{
    color:#254117;
}

p{
    font-size: 1rem;
}

.form-text{
    font-size: 8px;
}

.footer-form{
    width: 50%;
}

.button:disabled{
  border: 1px solid #999999;
  background-color:#cccc;
  color:#666;
}

.icon-link{
    --bs-icon-link-transform: translate3d(0, -.125rem, 0);
}

.pathway{
    color:darkgreen;
    text-decoration: none !important;
}

.pathway:hover{
    color: #254117;
    text-decoration: underline !important;
}

.item{
    border-bottom: 0.5px solid gray;
    margin-top: 15px;
}

.item-link{
    color:#1A2421;
    text-decoration: none !important;
}

.item-link:hover{
    color: #254117;
    text-decoration: underline !important;
}

.bg-accordion {
    background-color: #C4E1C2;
    color:#000;
  }

.locali-link {
    text-decoration: none;
}

.locali-link:hover {
    text-decoration: underline;
}

.bg-accordion:not(.collapsed) {
color: #C4E1C2;
background-color: #27472F;
}

.rate {
    height: 46px;
    padding: 0 10px;
    flex-direction: row-reverse;
}
.rate:not(:checked) > input {
    position:relative;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#8B5A00;
}
.rate:not(:checked) > label:before {
    content: '★';
}
.rate > input:checked ~ label {
    color: #FFD700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #FFC125;  
}

.accordion{
    --bs-accordion-btn-icon:url('https://raw.githubusercontent.com/twbs/icons/8d76d651dfb937fcf0b2f4aa3af9b9aa9407903b/icons/arrow-right-circle.svg');
    --bs-accordion-btn-active-icon:url('https://raw.githubusercontent.com/twbs/icons/8d76d651dfb937fcf0b2f4aa3af9b9aa9407903b/icons/arrow-up-circle.svg');
}

.custom-tooltip .tooltip-inner {
    background-color: #1A2421;
    opacity: 70%;
    
}

.custom-tooltip .tooltip-arrow {
    border-top-color: #000;  
    color: #1A2421;
    opacity: 50%;
}

.bi-star, .bi-star-fill, .bi-star-half{
    color:#FFC125;
}

.card-list{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:0.8rem
}

.card-list2{
    padding: 0;
    margin: 0;
    font-size:1.2rem
}


/* fine fatto da Alessia*/


/* fatto da Camilla*/

iframe { /*Mappa di google maps*/
    height: 100%; 
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; 
}

.photo {
    width: 150px; 
    height: 150px; 
    margin: 10px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}

.photo:hover img {
    transform: scale(1.1);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.enlarged-photo-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    position: relative; 
    background: rgba(0, 0, 0, 0.4);
}

#enlarged-photo {
    max-width: 90%;
    max-height: 70vh; 
    transition: transform 0.3s ease-in-out;
    position: relative;
    left: 50%; 
    transform: translateX(-50%); 
}

.caption {
    position: absolute;
    bottom: 0px; 
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.8); 
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
ul {
    list-style-type: disc; 
        }

ul li {
    margin-left: 40px; 
        }
.custom-a{
    color:black;
    text-decoration: underline;
}
.custom-a:hover{
    color: #254117;
    text-decoration: underline;
}
}
/* fine fatto da Camilla*/



/* fatto da Alessia*/

@media only screen and (max-width: 768px){

.footer-form{
    width: 80%;
}

}
/* fine fatto da Alessia*/